# Server Configuration
NODE_ENV=development
PORT=3000
HOST=localhost

#CORS
CORS_ORIGIN=http://localhost:5173

#Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


#Game Configuration
MAX_PLAYERS_PER_ROOM=4
DEFAULT_ROUNDS=3
DEFAULT_DRAW_TIME=60
ROOM_CODE_LENGTH=6

#Session Configuration
SESSION_TIMEOUT=3600

#Logging 
LOG_LEVEL=debug